@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --aside-width: 260px;
}

@layer base {
  fieldset {
    @apply mb-3;
  }
}

@layer components {
  .router-link-active,
  .router-link-active:hover {
    background-color: var(--menu-active-bg) !important;
    color: var(--menu-active-fg) !important;
  }
}
